
@{
    ViewBag.Title = "Collection";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}
<section class="section">
    <div class="container">
        <h2 class="section-title">Sữa Tươi</h2>
        <div class="products-grid grid">
            <!-- Sản phẩm 1 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_bap.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Hương Bắp</h3>
                    <p class="product-price">12.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_dau.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Hương Dâu</h3>
                    <p class="product-price">12.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 3 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_dua.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Hương Dừa</h3>
                    <p class="product-price">12.000VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_dualuoi.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Hương Dưa Lưới</h3>
                    <p class="product-price">12.0000 VND</p>
                </div>
            </div>


            <!-- Sản phẩm 1 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_giambeovichuoi.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Giảm Béo Vị Chuối</h3>
                    <p class="product-price">12.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_itduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Ít Đường</h3>
                    <p class="product-price">12.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 3 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_socola.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Hương Socola</h3>
                    <p class="product-price">12.0000VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_tachbeokhongduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Tách Béo Không Đường</h3>
                    <p class="product-price">12.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_tachbeosocola.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Tách Béo Socola</h3>
                    <p class="product-price">12.000 VND</p>
                </div>
            </div>

        </div>
        <h2 class="section-title">Sữa Bột Em Bé</h2>
        <div class="products-grid grid">
            <!-- Sản phẩm 1 -->
            <div class="product-card">
                <img src="~/Image/Sữa Bột em bé/SBEB_YokoGold.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Bột Em Bé Yoko Gold</h3>
                    <p class="product-price">500.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-card">
                <img src="~/Image/Sữa Bột em bé/SBEB_OptimunGold.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Bột Em Bé OptimunGold</h3>
                    <p class="product-price">500.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 3 -->
            <div class="product-card">
                <img src="~/Image/Sữa Bột em bé/SBEB_OptimunColos3.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Bột Em Bé OptimunColos 3</h3>
                    <p class="product-price">500.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa Bột em bé/SBEB_DielacGrowPlus2+.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Bột Em Bé Dielac Grow Plus2+</h3>
                    <p class="product-price">500.000 VND</p>
                </div>
            </div>
            <!-- Sản phẩm 5 -->
            <div class="product-card">
                <img src="~/Image/Sữa Bột em bé/SBEB_DielacAlpha4.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Bột Em Bé Dielac Alpha 4</h3>
                    <p class="product-price">500.0000 VND</p>
                </div>
            </div>
            <!-- Sản phẩm 6 -->
            <div class="product-card">
                <img src="~/Image/Sữa Bột em bé/SBEB_DielacAlpha1.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Bột Em Bé Dielac Alpha 1</h3>
                    <p class="product-price">500.000 VND</p>
                </div>
            </div>
            <!-- Sản phẩm 7 -->
            <div class="product-card">
                <img src="~/Image/Sữa Bột em bé/SBEBPS_YokoGold.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Bột Em Bé Pha Sẵn YokoGold</h3>
                    <p class="product-price">34.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 7 -->
            <div class="product-card">
                <img src="~/Image/Sữa Bột em bé/SBEBPS_OptimunGold.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Bột Em Bé Pha Sẵn OptimunGold</h3>
                    <p class="product-price">34.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 7 -->
            <div class="product-card">
                <img src="~/Image/Sữa Bột em bé/SBEBPS_OptimunColos.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Bột Em Bé Pha Sẵn OptimunColos</h3>
                    <p class="product-price">34.000 VND</p>
                </div>
            </div>
            <!-- Sản phẩm 7 -->
            <div class="product-card">
                <img src="~/Image/Sữa Bột em bé/SBEBPS_DielacGrowPlus.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Bột Em Bé Pha Sẵn Dielac Grow Plus</h3>
                    <p class="product-price">34.000 VND</p>
                </div>
            </div>
            <!-- Sản phẩm 7 -->
            <div class="product-card">
                <img src="~/Image/Sữa Bột em bé/SBEBPS_DielacGold.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Bột Em Bé Pha Sẵn DielacGold</h3>
                    <p class="product-price">34.000 VND</p>
                </div>
            </div>
        </div>
        <h2 class="section-title">Sữa chua uống</h2>
        <div class="products-grid grid">
            <!-- Sản phẩm 1 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_coduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Có Đường</h3>
                    <p class="product-price">24.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_daoitduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Hương Đào Ít Đường</h3>
                    <p class="product-price">24.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 3 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_dua.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Hương Dứa</h3>
                    <p class="product-price">24.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_itduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Ít Đường</h3>
                    <p class="product-price">24.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 5 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_luudoitduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Hương Lưu Đỏ Ít Đường</h3>
                    <p class="product-price">24.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_nghematong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Hương Nghệ Mật Ong</h3>
                    <p class="product-price">24.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_vietquoc.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Hương Việt Quốc</h3>
                    <p class="product-price">24.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUTT_GreenFarm_camhoabuoi.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua GreenFarm Hương Cam Hoa Bưởi</h3>
                    <p class="product-price">30.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUTT_GreenFarm_vaihoanhai.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua GreenFarm Vải Hoa Nhài</h3>
                    <p class="product-price">30.000 VND</p>
                </div>
            </div>
        </div>


        <h2 class="section-title">Sữa Chua Ăn</h2>
        <div class="products-grid grid">
            <!-- Sản phẩm 1 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SAC_luudoitduongCollagen.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Lựu Đào + Collagen</h3>
                    <p class="product-price">35.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_9loaihat.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua 9 Loại Hạt</h3>
                    <p class="product-price">35.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 3 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_dau.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Dâu</h3>
                    <p class="product-price">35.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_itduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Ít Đường</h3>
                    <p class="product-price">35.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 5 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_khongduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Không Đường</h3>
                    <p class="product-price">35.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_nepcam.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Nếp Cẩm</h3>
                    <p class="product-price">35.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_nhadam.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Nha Đam</h3>
                    <p class="product-price">35.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_traicay.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Trái Cây</h3>
                    <p class="product-price">35.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_vietquocitduongcollagen.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Việt Quốc ít đường + Collagen</h3>
                    <p class="product-price">35.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_yenmachchanhdayxoai.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Yến Mạch Chanh Dây Xoài</h3>
                    <p class="product-price">35.000 VND</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="footer-grid grid">

            <div class="footer-column">
                <h4>Shop</h4>
                <ul class="footer-links">
                    <li><a href="Collection" class="footer-link">All Products</a></li>
                    <li><a href="NewProduct" class="footer-link">New Product</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Company</h4>
                <ul class="footer-links">
                    <li><a href="Shop" class="footer-link">About Us</a></li>
                    <li><a href="Register" class="footer-link">Register</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Support</h4>
                <ul class="footer-links">
                    <li><a href="Shop" class="footer-link">Founder</a></li>
                    <li><a href="Contact" class="footer-link">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Duyên&Tâm. Hoàng Sa, Trường Sa là của Việt Nam</p>
        </div>
    </div>
</footer>


