
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<style>


    .location-selector {
        margin: 30px 0;
        text-align: center;
    }
    .location-selector select {
        padding: 12px 20px;
        font-size: 1rem;
        border: 2px solid #ddd;
        border-radius: 5px;
        width: 100%;
        max-width: 400px;
    }
    </style>




<section class="section"style="background-color: #f1f0e1">
    <div class="container">
        <section class="location-selector">
            <h1>VINAMILK HIỆN CÓ 50+ CỬA HÀNG TRÊN TOAN QUỐC</h1>
            @*<h2>CHỌN TỈNH THÀNH PHỐ</h2>
            <select id="city-select" style="color: #154598 ">
                <option value="all">Toàn quốc</option>
                <option value="hcm">TP. Hồ Chí Minh</option>
                <option value="hn">Hà Nội</option>
                <option value="hp">Hải Phòng</option>
                <option value="kh">Khánh Hòa</option>
                <option value="dn">Đồng Nai</option>
                <option value="dng">Đà Nẵng</option>
            </select>*@
        </section>
        <script src="~/Scripts/JavaScriptContact.js"></script>
        @*----------------------------------------------------------------------------------------------------------------*@
        @*TP.HCM*@
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d250850.88649452766!2d106.59881019589847!3d10.769499059691322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317525003cd89a93%3A0x9e314c55a3c3cd08!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgLSA1NDggTmd1eeG7hW4gVGjhu4sgxJDhu4tuaA!5e0!3m2!1svi!2s!4v1763120859231!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk - 548 Nguyễn Thị Định</h1>
                <p>548 Nguyễn Thị Định, Phường Thạnh Mỹ Lợi, Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d250850.88649452766!2d106.59881019589847!3d10.769499059691322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fb7aa03b3b3%3A0x603f9d71f5b59fe2!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTIxNiBM4bqhYyBMb25nIFF1w6Ju!5e0!3m2!1svi!2s!4v1763120893946!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 1216 Lạc Long Quân</h1>
                <p>1216 Lạc Long Quân, Phường 8, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d250850.88649452766!2d106.59881019589847!3d10.769499059691322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f64d1b90c7d%3A0xb98d1c295cad08d9!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTc1IE5ndXnhu4VuIENow60gVGhhbmg!5e0!3m2!1svi!2s!4v1763120920394!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 175 Nguyễn Chí Thanh</h1>
                <p>175 Nguyễn Chí Thanh, Phường 12, Quận 5, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d250850.88649452766!2d106.59881019589847!3d10.769499059691322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529f3bd62554f%3A0xad232afbf651222f!2sC%E1%BB%ADa%20h%C3%A0ng%20Vinamilk%20317%20Phan%20X%C3%ADch%20Long!5e0!3m2!1svi!2s!4v1763120944076!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 317 Phan Xích Long</h1>
                <p>317-319 Phan Xích Long, P. 1, Phú Nhuận, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d250850.88649452766!2d106.59881019589847!3d10.769499059691322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3079fac847%3A0xf5ab0733ed7f2be3!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTkwIE5ndXnhu4VuIMSQw6xuaCBDaGnhu4N1!5e0!3m2!1svi!2s!4v1763120975032!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 190 Nguyễn Đình Chiểu</h1>
                <p>190 Nguyễn Đình Chiểu, Phường 6, Quận 3, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d121863.86700658081!2d106.67225426574474!3d10.747124640890988!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317525000af75d1d%3A0x2e77d0a111988074!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTAgVMOibiBUcsOgbw!5e0!3m2!1svi!2s!4v1763120998223!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 10 Tân Trào</h1>
                <p>10 Tân Trào, Khu đô thị Phú Mỹ Hưng, Quận 7, Thành phố Hồ Chí Minh 700000, Việt Nam</p>
            </div>
        </section>

        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d101738.0852386543!2d106.68894553498123!3d10.745852807374128!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f00223b8d0f%3A0x7b2e47a3b7afbc3!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTU5IE5ndXnhu4VuIMSQ4bupYyBD4bqjbmg!5e0!3m2!1svi!2s!4v1763121019596!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 159 Nguyễn Đức Cảnh </h1>
                <p>159 Nguyễn Đức Cảnh, P, Khu đô thị Phú Mỹ Hưng, Quận 7, Thành phố Hồ Chí Minh 70000, Việt Nam</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d70904.50330211975!2d106.6558632147973!3d10.76203105046092!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f65eab8e7af%3A0x12f27879aba752c4!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgNyBMw6ogUXXhu5FjIEjGsG5n!5e0!3m2!1svi!2s!4v1763121078866!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 7 Lê Quốc Hưng </h1>
                <p>107 Đ. Lê Quốc Hưng, Phường 13, Quận 4, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>

        @*Đồng Nai*@
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d121767.63685457024!2d106.81092079403604!3d10.98294579181117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174de7f33d2f005%3A0x744472b1667f7de!2zVmluYW1pbGsgQmnDqm4gSMOyYQ!5e0!3m2!1svi!2s!4v1763121853338!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Vinamilk Biên Hòa </h1>
                <p>34 Đ. Đồng Khởi, Khu Phố 4, Biên Hòa, Đồng Nai 72000, Việt Nam</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d121767.63685457024!2d106.81092079403604!3d10.98294579181117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174dd59914cd3a3%3A0x18226c39b6a22c47!2sC%E1%BB%ADa%20h%C3%A0ng%20Vinamilk%2050%20Phan%20Trung!5e0!3m2!1svi!2s!4v1763121905400!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 50 Phan Trung </h1>
                <p>50 Đ. Phan Trung, P, Biên Hòa, Đồng Nai, Việt Nam</p>
            </div>
        </section>

        @*Hà Nội*@
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.3627463764674!2d105.83932159999999!3d20.937942900000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad143b0898e9%3A0xd6d4c69683cfdf49!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgWMOzbSAyIFF14buzbmggxJDDtA!5e0!3m2!1svi!2s!4v1763122076317!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk Xóm 2</h1>
                <p>Xóm 2 Quỳnh Đô, X, Thanh Trì, Hà Nội</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.847399817712!2d105.851362!3d20.9987533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad00615c1fb7%3A0xc157eace42973473!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgNDE1IELhuqFjaCBNYWk!5e0!3m2!1svi!2s!4v1763122116278!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1> Cửa hàng Vinamilk 415 Bạch Mai</h1>
                <p>Tổ 42 P. Bạch Mai, Bạch Mai, Hai Bà Trưng, Hà Nội</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4070474312657!2d105.8043084!3d21.016393000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab004c7a8885%3A0x3375c7f100fadb3e!2zVmluYW1pbGsgNjk4IMSQxrDhu51uZyBMw6FuZw!5e0!3m2!1svi!2s!4v1763122168339!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk - Số 698 Đường Láng </h1>
                <p>Số 698 Đường Láng, Phường Láng Thượng, Quận Đống Đa, Hà Nội</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.302508852896!2d105.8935376!3d21.0605767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a90eb1931a95%3A0xd69865b8583eb3a4!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTM0IE5nw7QgR2lhIFThu7E!5e0!3m2!1svi!2s!4v1763122204736!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 134 Ngô Gia Tự </h1>
                <p>Đ. Ngô Gia Tự/134 P. Đức Giang, Đức Giang, Long Biên, Hà Nội</p>
            </div>
        </section>

        @*Đà Nẵng*@
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.09271668766!2d108.2200747!3d16.060677799999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142196cb96023cb%3A0x7971bb61ea127981!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgNzUgTmd1eeG7hW4gVsSDbiBMaW5o!5e0!3m2!1svi!2s!4v1763122336273!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 75 Nguyễn Văn Linh </h1>
                <p>75 Nguyễn Văn Linh, P, Hải Châu, Đà Nẵng 550000</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">

            </div>
            <div class="hero-content">
                <h1> </h1>
                <p></p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.2217795475594!2d108.21946860000001!3d16.053977099999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142198d3070e32b%3A0xc1252f653a999bc3!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTk3LTE5OSBUcsawbmcgTuG7ryBWxrDGoW5n!5e0!3m2!1svi!2s!4v1763122366195!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 197-199 Trưng Nữ Vương </h1>
                <p>197-199 Trưng Nữ Vương, P. Bình Thuận, Hải Châu, Đà Nẵng 550000</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.000572255373!2d108.21938039999999!3d16.0654601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421834bb232a49%3A0x66fb56e7dff26991!2zQ-G7rWEgSMOgbmcgVmluYW1pbGsgNDQgSG_DoG5nIERp4buHdQ!5e0!3m2!1svi!2s!4v1763122452963!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa Hàng Vinamilk 44 Hoàng Diệu </h1>
                <p>44 Hoàng Diệu, P, Hải Châu, Đà Nẵng 550000</p>
            </div>
        </section>
        @*Hải Phòng*@
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.371987030659!2d106.6909891!3d20.8570516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7bb8d25952cf%3A0x234ad90c639d8e60!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTM2IC0gMTM4IEzDqiBM4bujaQ!5e0!3m2!1svi!2s!4v1763122615471!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 136 - 138 Lê Lợi </h1>
                <p>136-138 P. Lê Lợi, P, Ngô Quyền, Hải Phòng</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.705883191961!2d106.67103949999999!3d10.7571356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f004ff99fbf%3A0x8641f9dc4501cd69!2zQ-G7rWEgaMOgbmcgc-G7r2EgVmluYW1pbGs!5e0!3m2!1svi!2s!4v1763122745619!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng sữa Vinamilk </h1>
                <p>80 An Dương Vương, Phường 9, Quận 5, Thành phố Hồ Chí Minh</p>
            </div>
        </section>
        @*Khánh HÒa*@
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.8556159849713!2d109.17264019999999!3d12.2580485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d0924e22c33%3A0x43302ddbc3771e6a!2zVmluYW1pbGsgLSBHaeG6pWMgTcahIFPhu69hIFZp4buHdA!5e0!3m2!1svi!2s!4v1763123185042!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Vinamilk - Giấc Mơ Sữa Việt </h1>
                <p>125 Đ. Lương Định Của, P, Nha Trang, Khánh Hòa 650000</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62379.75964743415!2d109.1617012284668!3d12.266205507978533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317067aa4cce9f45%3A0x82c0e280d0ac474f!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMjU5IMSQaeG7h24gQmnDqm4gUGjhu6c!5e0!3m2!1svi!2s!4v1763123264698!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 259 Điện Biên Phủ </h1>
                <p>259 Điện Biên Phủ, P, Nha Trang, Khánh Hòa 650000, Việt Nam</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62379.75964743415!2d109.1617012284668!3d12.266205507978533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d006f013203%3A0xa5d1e7e83a2b7dd9!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgNjMgVGjDrWNoIFF14bqjbmcgxJDhu6lj!5e0!3m2!1svi!2s!4v1763123287750!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 63 Thích Quảng Đức </h1>
                <p>63 Thích Quảng Đức, Phước Hải, Nha Trang, Khánh Hòa 650000, Việt Nam</p>
            </div>
        </section>
        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30303.189761476493!2d109.17494234657013!3d12.255552317012114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d2032850e81%3A0xccf260acf4ae700c!2zVmluYW1pbGsgTmhhIFRyYW5nIC0gMzUgVsOibiDEkOG7k24!5e0!3m2!1svi!2s!4v1763123317427!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1> Vinamilk Nha Trang - 35 Vân Đồn</h1>
                <p>35 Vân Đồn, Phước Hoà, Nha Trang, Khánh Hòa, Việt Nam</p>
            </div>
        </section>

        <section id="all" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30303.189761476493!2d109.17494234657013!3d12.255552317012114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d9efaa27dc5%3A0xebe9453ff67a9e83!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgNyBDYW8gQsOhIFF1w6F0!5e0!3m2!1svi!2s!4v1763123341695!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 7 Cao Bá Quát </h1>
                <p>7 Cao Bá Quát, P, Nha Trang, Khánh Hòa 650000, Việt Nam</p>
            </div>
        </section>
        @*----------------------------------------------------------------------------------------------------------------*@

        @*TPHCM*@
        <!--<section id="hcm" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d250850.88649452766!2d106.59881019589847!3d10.769499059691322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317525003cd89a93%3A0x9e314c55a3c3cd08!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgLSA1NDggTmd1eeG7hW4gVGjhu4sgxJDhu4tuaA!5e0!3m2!1svi!2s!4v1763120859231!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk - 548 Nguyễn Thị Định</h1>
                <p>548 Nguyễn Thị Định, Phường Thạnh Mỹ Lợi, Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>
        <section id="hcm" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d250850.88649452766!2d106.59881019589847!3d10.769499059691322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fb7aa03b3b3%3A0x603f9d71f5b59fe2!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTIxNiBM4bqhYyBMb25nIFF1w6Ju!5e0!3m2!1svi!2s!4v1763120893946!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 1216 Lạc Long Quân</h1>
                <p>1216 Lạc Long Quân, Phường 8, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>
        <section id="hcm" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d250850.88649452766!2d106.59881019589847!3d10.769499059691322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f64d1b90c7d%3A0xb98d1c295cad08d9!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTc1IE5ndXnhu4VuIENow60gVGhhbmg!5e0!3m2!1svi!2s!4v1763120920394!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 175 Nguyễn Chí Thanh</h1>
                <p>175 Nguyễn Chí Thanh, Phường 12, Quận 5, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>
        <section id="hcm" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d250850.88649452766!2d106.59881019589847!3d10.769499059691322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529f3bd62554f%3A0xad232afbf651222f!2sC%E1%BB%ADa%20h%C3%A0ng%20Vinamilk%20317%20Phan%20X%C3%ADch%20Long!5e0!3m2!1svi!2s!4v1763120944076!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 317 Phan Xích Long</h1>
                <p>317-319 Phan Xích Long, P. 1, Phú Nhuận, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>
        <section id="hcm" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d250850.88649452766!2d106.59881019589847!3d10.769499059691322!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f3079fac847%3A0xf5ab0733ed7f2be3!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTkwIE5ndXnhu4VuIMSQw6xuaCBDaGnhu4N1!5e0!3m2!1svi!2s!4v1763120975032!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 190 Nguyễn Đình Chiểu</h1>
                <p>190 Nguyễn Đình Chiểu, Phường 6, Quận 3, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>
        <section id="hcm" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d121863.86700658081!2d106.67225426574474!3d10.747124640890988!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317525000af75d1d%3A0x2e77d0a111988074!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTAgVMOibiBUcsOgbw!5e0!3m2!1svi!2s!4v1763120998223!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 10 Tân Trào</h1>
                <p>10 Tân Trào, Khu đô thị Phú Mỹ Hưng, Quận 7, Thành phố Hồ Chí Minh 700000, Việt Nam</p>
            </div>
        </section>

        <section id="hcm" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d101738.0852386543!2d106.68894553498123!3d10.745852807374128!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f00223b8d0f%3A0x7b2e47a3b7afbc3!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTU5IE5ndXnhu4VuIMSQ4bupYyBD4bqjbmg!5e0!3m2!1svi!2s!4v1763121019596!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 159 Nguyễn Đức Cảnh </h1>
                <p>159 Nguyễn Đức Cảnh, P, Khu đô thị Phú Mỹ Hưng, Quận 7, Thành phố Hồ Chí Minh 70000, Việt Nam</p>
            </div>
        </section>
        <section id="hcm" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d70904.50330211975!2d106.6558632147973!3d10.76203105046092!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f65eab8e7af%3A0x12f27879aba752c4!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgNyBMw6ogUXXhu5FjIEjGsG5n!5e0!3m2!1svi!2s!4v1763121078866!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 7 Lê Quốc Hưng </h1>
                <p>107 Đ. Lê Quốc Hưng, Phường 13, Quận 4, Thành phố Hồ Chí Minh, Việt Nam</p>
            </div>
        </section>-->
        @*----------------------------------------------------------------------------------------------------------------*@

        @*Đồng Nai*@
        <!--<section id="dn" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d121767.63685457024!2d106.81092079403604!3d10.98294579181117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174de7f33d2f005%3A0x744472b1667f7de!2zVmluYW1pbGsgQmnDqm4gSMOyYQ!5e0!3m2!1svi!2s!4v1763121853338!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Vinamilk Biên Hòa </h1>
                <p>34 Đ. Đồng Khởi, Khu Phố 4, Biên Hòa, Đồng Nai 72000, Việt Nam</p>
            </div>
        </section>
        <section id="dn" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d121767.63685457024!2d106.81092079403604!3d10.98294579181117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174dd59914cd3a3%3A0x18226c39b6a22c47!2sC%E1%BB%ADa%20h%C3%A0ng%20Vinamilk%2050%20Phan%20Trung!5e0!3m2!1svi!2s!4v1763121905400!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 50 Phan Trung </h1>
                <p>50 Đ. Phan Trung, P, Biên Hòa, Đồng Nai, Việt Nam</p>
            </div>
        </section>-->
        @*----------------------------------------------------------------------------------------------------------------*@
        @*Hà Nội*@
        <!--<section id="hn" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3726.3627463764674!2d105.83932159999999!3d20.937942900000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad143b0898e9%3A0xd6d4c69683cfdf49!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgWMOzbSAyIFF14buzbmggxJDDtA!5e0!3m2!1svi!2s!4v1763122076317!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk Xóm 2</h1>
                <p>Xóm 2 Quỳnh Đô, X, Thanh Trì, Hà Nội</p>
            </div>
        </section>
        <section id="hn" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.847399817712!2d105.851362!3d20.9987533!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ad00615c1fb7%3A0xc157eace42973473!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgNDE1IELhuqFjaCBNYWk!5e0!3m2!1svi!2s!4v1763122116278!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1> Cửa hàng Vinamilk 415 Bạch Mai</h1>
                <p>Tổ 42 P. Bạch Mai, Bạch Mai, Hai Bà Trưng, Hà Nội</p>
            </div>
        </section>
        <section id="hn" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.4070474312657!2d105.8043084!3d21.016393000000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab004c7a8885%3A0x3375c7f100fadb3e!2zVmluYW1pbGsgNjk4IMSQxrDhu51uZyBMw6FuZw!5e0!3m2!1svi!2s!4v1763122168339!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk - Số 698 Đường Láng </h1>
                <p>Số 698 Đường Láng, Phường Láng Thượng, Quận Đống Đa, Hà Nội</p>
            </div>
        </section>
        <section id="hn" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3723.302508852896!2d105.8935376!3d21.0605767!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135a90eb1931a95%3A0xd69865b8583eb3a4!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTM0IE5nw7QgR2lhIFThu7E!5e0!3m2!1svi!2s!4v1763122204736!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 134 Ngô Gia Tự </h1>
                <p>Đ. Ngô Gia Tự/134 P. Đức Giang, Đức Giang, Long Biên, Hà Nội</p>
            </div>
        </section>-->

        @*----------------------------------------------------------------------------------------------------------------*@

        @*Đà Nẵng*@
        <!--<section id="dng" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.09271668766!2d108.2200747!3d16.060677799999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142196cb96023cb%3A0x7971bb61ea127981!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgNzUgTmd1eeG7hW4gVsSDbiBMaW5o!5e0!3m2!1svi!2s!4v1763122336273!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 75 Nguyễn Văn Linh </h1>
                <p>75 Nguyễn Văn Linh, P, Hải Châu, Đà Nẵng 550000</p>
            </div>
        </section>
        <section id="dng" class="city-section hero-header container">
            <div class="hero-map">

            </div>
            <div class="hero-content">
                <h1> </h1>
                <p></p>
            </div>
        </section>
        <section id="dng" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.2217795475594!2d108.21946860000001!3d16.053977099999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142198d3070e32b%3A0xc1252f653a999bc3!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTk3LTE5OSBUcsawbmcgTuG7ryBWxrDGoW5n!5e0!3m2!1svi!2s!4v1763122366195!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 197-199 Trưng Nữ Vương </h1>
                <p>197-199 Trưng Nữ Vương, P. Bình Thuận, Hải Châu, Đà Nẵng 550000</p>
            </div>
        </section>
        <section id="dng" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.000572255373!2d108.21938039999999!3d16.0654601!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421834bb232a49%3A0x66fb56e7dff26991!2zQ-G7rWEgSMOgbmcgVmluYW1pbGsgNDQgSG_DoG5nIERp4buHdQ!5e0!3m2!1svi!2s!4v1763122452963!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa Hàng Vinamilk 44 Hoàng Diệu </h1>
                <p>44 Hoàng Diệu, P, Hải Châu, Đà Nẵng 550000</p>
            </div>
        </section>-->

        @*----------------------------------------------------------------------------------------------------------------*@

        @*Hải Phòng*@
        <!--<section id="hp" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3728.371987030659!2d106.6909891!3d20.8570516!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314a7bb8d25952cf%3A0x234ad90c639d8e60!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMTM2IC0gMTM4IEzDqiBM4bujaQ!5e0!3m2!1svi!2s!4v1763122615471!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 136 - 138 Lê Lợi </h1>
                <p>136-138 P. Lê Lợi, P, Ngô Quyền, Hải Phòng</p>
            </div>
        </section>
        <section id="hp" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.705883191961!2d106.67103949999999!3d10.7571356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f004ff99fbf%3A0x8641f9dc4501cd69!2zQ-G7rWEgaMOgbmcgc-G7r2EgVmluYW1pbGs!5e0!3m2!1svi!2s!4v1763122745619!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng sữa Vinamilk </h1>
                <p>80 An Dương Vương, Phường 9, Quận 5, Thành phố Hồ Chí Minh</p>
            </div>
        </section>-->
        @*----------------------------------------------------------------------------------------------------------------*@
        @*Khánh HÒa*@
        <!--<section id="kh" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3898.8556159849713!2d109.17264019999999!3d12.2580485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d0924e22c33%3A0x43302ddbc3771e6a!2zVmluYW1pbGsgLSBHaeG6pWMgTcahIFPhu69hIFZp4buHdA!5e0!3m2!1svi!2s!4v1763123185042!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Vinamilk - Giấc Mơ Sữa Việt </h1>
                <p>125 Đ. Lương Định Của, P, Nha Trang, Khánh Hòa 650000</p>
            </div>
        </section>
        <section id="kh" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62379.75964743415!2d109.1617012284668!3d12.266205507978533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317067aa4cce9f45%3A0x82c0e280d0ac474f!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgMjU5IMSQaeG7h24gQmnDqm4gUGjhu6c!5e0!3m2!1svi!2s!4v1763123264698!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 259 Điện Biên Phủ </h1>
                <p>259 Điện Biên Phủ, P, Nha Trang, Khánh Hòa 650000, Việt Nam</p>
            </div>
        </section>
        <section id="kh" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d62379.75964743415!2d109.1617012284668!3d12.266205507978533!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d006f013203%3A0xa5d1e7e83a2b7dd9!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgNjMgVGjDrWNoIFF14bqjbmcgxJDhu6lj!5e0!3m2!1svi!2s!4v1763123287750!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 63 Thích Quảng Đức </h1>
                <p>63 Thích Quảng Đức, Phước Hải, Nha Trang, Khánh Hòa 650000, Việt Nam</p>
            </div>
        </section>
        <section id="kh" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30303.189761476493!2d109.17494234657013!3d12.255552317012114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d2032850e81%3A0xccf260acf4ae700c!2zVmluYW1pbGsgTmhhIFRyYW5nIC0gMzUgVsOibiDEkOG7k24!5e0!3m2!1svi!2s!4v1763123317427!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1> Vinamilk Nha Trang - 35 Vân Đồn</h1>
                <p>35 Vân Đồn, Phước Hoà, Nha Trang, Khánh Hòa, Việt Nam</p>
            </div>
        </section>

        <section id="kh" class="city-section hero-header container">
            <div class="hero-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d30303.189761476493!2d109.17494234657013!3d12.255552317012114!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31705d9efaa27dc5%3A0xebe9453ff67a9e83!2zQ-G7rWEgaMOgbmcgVmluYW1pbGsgNyBDYW8gQsOhIFF1w6F0!5e0!3m2!1svi!2s!4v1763123341695!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="hero-content">
                <h1>Cửa hàng Vinamilk 7 Cao Bá Quát </h1>
                <p>7 Cao Bá Quát, P, Nha Trang, Khánh Hòa 650000, Việt Nam</p>
            </div>
        </section>-->

    </div>
</section>
<footer>
    <div class="container">
        <div class="footer-grid grid">

            <div class="footer-column">
                <h4>Shop</h4>
                <ul class="footer-links">
                    <li><a href="#" class="footer-link">All Products</a></li>
                    <li><a href="#" class="footer-link">New Arrivals</a></li>
                    <li><a href="#" class="footer-link">Best Sellers</a></li>
                    <li><a href="#" class="footer-link">Sale</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Company</h4>
                <ul class="footer-links">
                    <li><a href="#" class="footer-link">About Us</a></li>
                    <li><a href="#" class="footer-link">Sustainability</a></li>
                    <li><a href="#" class="footer-link">Careers</a></li>
                    <li><a href="#" class="footer-link">Press</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Support</h4>
                <ul class="footer-links">
                    <li><a href="#" class="footer-link">FAQ</a></li>
                    <li><a href="#" class="footer-link">Shipping & Returns</a></li>
                    <li><a href="#" class="footer-link">Size Guide</a></li>
                    <li><a href="#" class="footer-link">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 BO&BOT. Hoàng Sa, Trường Sa là của Việt Nam</p>
        </div>
    </div>
</footer>
