
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<!-- Phần giới thiệu -->
<section class="hero">
    <img src="~/Image/GT_VNM/BG VNM.png" class="hero-bg" />
</section>
<section class="hero-header container">
    <div class="hero-image">
        <img src="~/Image/GT_VNM/481914046_964030969248492_7069894766654342136_n.jpg" />
    </div>
    <div class="hero-content">
        <h1>Cầu tiến là bí quyết</h1>
        <p>Không ngừng tìm kiếm, ứng dụng công nghệ sản xuất tiên tiến để đáp ứng những tiêu chuẩn khắt khe nhất của chính Vinamilk</p>
        <a href="/Home/Shop" class="btn">Tìm hiểu thêm</a>
    </div>

</section>

<!-- Sản Phẩm Nổi Bật -->
<section class="section">
    <div class="container">
        <h2 class="section-title">Sản Phẩm Mới Nhất Mang Đến Cho Bạn!!! SALE 15%</h2>
        <div class="products-vertical">
            <!-- Sản phẩm 1 -->
            <div class="product-item"style="background-color:#b51ac3">
                <img src="~/Image/Kem/KH_GelatoChanhDay2.png" class="product-img" />
                <div class="product-details">
                    <h3 class="product-tittle">Kem Hộp Gelato Chanh Dây</h3>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-item" style="background-color:#d92c6f">
                <img src="~/Image/Kem/KH_GelatoDau2.png" class="product-img" />
                <div class="product-details">
                    <h3 class="product-tittle">Kem Hộp Gelato Dừa</h3>
                </div>
            </div>

            <!-- Sản phẩm 3 -->
            <div class="product-item"style="background-color:#b18a40">
                <img src="~/Image/Kem/KH_GelatoHuongTiramisu2.png" class="product-img" />
                <div class="product-details">
                    <h3 class="product-tittle">Kem Hộp Gelato Huong Tiramisu</h3>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-item"style="background-color:#1e771a">
                <img src="~/Image/Kem/KH_GelatoMtcha2.png" class="product-img" />
                <div class="product-details">
                    <h3 class="product-tittle">Kem Hộp Gelato Matcha</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Phần about -->
<section class="section about">
    <div class="container">
        <div class="about-grid grid">
            <div class="about-image">
                <video class="about-image" autoplay muted loop playsinline>
                    <source src="~/Image/GT_VNM/VD_Vinamilk.mp4" type="video/mp4" />
                </video>
            </div>
            <div class="about-content">
                <h3>DỰ ÁN MỚI VINAMILK</h3>
                <p>
                    Kem hộp, kem cây, kem ốc quế, kem sữa chua. Chất kem sữa sánh mịn, nhiều hương vị đếm mỏi tay nhưng vị nào rõ vị đó, kết hợp lại càng thỏa mãn tấm lòng hảo kem.
                    Rõ hương vị
                </p><br />
                    <p>
                        Vị nào ra vị nấy, nổi bật tầng hương ngon nhất, đậm nhất của từng nguyên liệu.
                    </p><br />
                        <p>

                            Mịn kem, mềm bơ, mướt sữa. Kết hợp sữa và bơ với tỉ lệ độc đáo giúp chất kem mịn mướt. Múc đến đâu, kem dẻo mịn đến đó.
                        </p><br />
                            <p> Đa vị, đa lựa chọn. Với 9 vị kem nguyên bản và 5 cách kết hợp khác nhau, phù hợp với khẩu vị của mỗi thành viên gia đình.</p><br />
                <a href="/Home/NewProduct" class="btn">Khám phá</a>
            </div>
        </div>
    </div>
</section>


<section class="carbon-neutral-section">
    <div class="carbon-container">
        <div class="carbon-header">
            <h2>DỂ TÂM HÀNH ĐỘNG</h2>
            <p class="subtitle">Chỉ 1 năm sau kế hoạch Net Zero 2050, Vinamilk có 3 đơn vị đạt Chứng nhận Quốc tế về Trung hòa Carbon</p>
        </div>

        <div class="carbon-grid">
            <!-- Item 1 -->
            <div class="carbon-item">
                <div class="carbon-image">
                    <img src="~/Image/GT_VNM/DANBO.png" />
                </div>
                <h3>Mảnh ghép mới trong hệ thống nhà máy "xanh"</h3>
                <p>Trước thềm Đại hội đồng cổ đông thường niên 2024, Vinamilk công bố Nhà máy Nước giải khát Việt Nam đạt trung hòa Carbon theo tiêu chuẩn quốc tế PAS.</p>
            </div>

            <!-- Item 2 -->
            <div class="carbon-item">
                <div class="carbon-image">
                    <img src="~/Image/GT_VNM/XUONG.png" />
                </div>
                <h3>3 đơn vị đạt chứng nhận về trung hòa Carbon</h3>
                <p>Vinamilk đang sở hữu 2 nhà máy và 1 trang trại đạt chứng nhận về trung hòa Carbon, cho thấy những bước tiến quyết liệt trên con đường tiến đến mục tiêu Net Zero vào năm 2050.</p>
            </div>

            <!-- Item 3 -->
            <div class="carbon-item">
                <div class="carbon-image">
                    <img src="~/Image/GT_VNM/NETZERO.png" />
                </div>
                <h3>Cam kết và Lộ trình tiến đến Net Zero vào năm 2050</h3>
                <p>Tiên phong về phát triển bền vững, Vinamilk đặt mục tiêu cắt giảm 15% phát thải khí nhà kính vào 2027, 55% vào năm 2035 và tiến đến phát thải ròng bằng 0 vào năm 2050.</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer-grid grid">

            <div class="footer-column">
                <h4>Shop</h4>
                <ul class="footer-links">
                    <li><a href="Collection" class="footer-link">All Products</a></li>
                    <li><a href="NewProduct" class="footer-link">New Product</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Company</h4>
                <ul class="footer-links">
                    <li><a href="Shop" class="footer-link">About Us</a></li>
                    <li><a href="Register" class="footer-link">Register</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Support</h4>
                <ul class="footer-links">
                    <li><a href="Shop" class="footer-link">Founder</a></li>
                    <li><a href="Contact" class="footer-link">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Duyên&Tâm. Hoàng Sa, Trường Sa là của Việt Nam</p>
        </div>
    </div>
</footer>


