
@{
    ViewBag.Title = "NewProduct";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<div class="slider-container">
    <div class="slider">
        <div class="slide">
            <img src="~/Image/Kem/KH_GelatoChanhDay.png" alt="Vinamilk Sản phẩm 1">
        </div>
        <div class="slide">
            <img src="~/Image/Kem/KH_GelatoDua.png" alt="Vinamilk Sản phẩm 2">
        </div>
        <div class="slide">
            <img src="~/Image/Kem/KH_GelatoHuongTiramisu.png" alt="Vinamilk Sản phẩm 3">
        </div>
        <div class="slide">
            <img src="~/Image/Kem/KH_GelatoMatcha.png" alt="Vinamilk Sản phẩm 4">
        </div>
        <div class="slide">
            <img src="~/Image/Kem/KH_GelatoPhoMaiDau.png" alt="Vinamilk Sản phẩm 1">
        </div>
        <div class="slide">
            <img src="~/Image/Kem/KH_GelatoSocola.png" alt="Vinamilk Sản phẩm 2">
        </div>
    </div>

    <button class="arrow prev">&#10094;</button>
    <button class="arrow next">&#10095;</button>
</div>
<script type="module" src="~/Scripts/JavaScriptNewPro.js"></script>

<section class="newpro">
    <div class="newpro-imageleft">
        <img src="~/Image/GT_VNM/Screenshot 2025-11-13 215025.png" />
    </div>
    <div class="newpro-imageright">
        <img src="~/Image/GT_VNM/Screenshot 2025-11-13 215044.png" />
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="section-title">Sản Phẩm sắp ra mắt 31/11</h2>
        <div class="products-grid grid">
            <!-- Sản phẩm 1 -->
            <div class="product-card">
                <img src="~/Image/Kem/KH_GelatoChanhDay.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Kem Hộp Gelato Chanh Dây</h3>
                    <p class="product-price">Một sáng tạo mới của Vinamilk. Cùng những nguyên liệu thượng hạng, lớp lớp kem sữa sánh mịn chen nhau, không một kẽ hở, tạo nên chất kem gelato dẻo mềm hoàn hảo. </p>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-card">
                <img src="~/Image/Kem/KH_GelatoDua.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Kem Hộp Gelato Dừa</h3>
                    <p class="product-price">Một sáng tạo mới của Vinamilk. Cùng những nguyên liệu thượng hạng, lớp lớp kem sữa sánh mịn chen nhau, không một kẽ hở, tạo nên chất kem gelato dẻo mềm hoàn hảo. </p>
                </div>
            </div>

            <!-- Sản phẩm 3 -->
            <div class="product-card">
                <img src="~/Image/Kem/KH_GelatoHuongTiramisu.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Kem Hộp Gelato Hương Tiramisu</h3>
                    <p class="product-price">Một sáng tạo mới của Vinamilk. Cùng những nguyên liệu thượng hạng, lớp lớp kem sữa sánh mịn chen nhau, không một kẽ hở, tạo nên chất kem gelato dẻo mềm hoàn hảo. </p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Kem/KH_GelatoMatcha.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Kem Hộp Gelato Matcha</h3>
                    <p class="product-price">Một sáng tạo mới của Vinamilk. Cùng những nguyên liệu thượng hạng, lớp lớp kem sữa sánh mịn chen nhau, không một kẽ hở, tạo nên chất kem gelato dẻo mềm hoàn hảo.</p>
                </div>
            </div>


            <!-- Sản phẩm 1 -->
            <div class="product-card">
                <img src="~/Image/Kem/KH_GelatoPhoMaiDau.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Kem Hộp Gelato Phô Mai Dâu</h3>
                    <p class="product-price">Một sáng tạo mới của Vinamilk. Cùng những nguyên liệu thượng hạng, lớp lớp kem sữa sánh mịn chen nhau, không một kẽ hở, tạo nên chất kem gelato dẻo mềm hoàn hảo.</p>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-card">
                <img src="~/Image/Kem/KH_GelatoSocola.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Kem Hộp Gelato Socola</h3>
                    <p class="product-price">Một sáng tạo mới của Vinamilk. Cùng những nguyên liệu thượng hạng, lớp lớp kem sữa sánh mịn chen nhau, không một kẽ hở, tạo nên chất kem gelato dẻo mềm hoàn hảo. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="newpro-vd">
    <video width="800" height="500" autoplay muted loop playsinline>
        <source src="~/Image/GT_VNM/VD_Vinamilk.mp4" type="video/mp4" />
    </video>
</div>
<footer>
    <div class="container">
        <div class="footer-grid grid">

            <div class="footer-column">
                <h4>Shop</h4>
                <ul class="footer-links">
                    <li><a href="Collection" class="footer-link">All Products</a></li>
                    <li><a href="NewProduct" class="footer-link">New Product</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Company</h4>
                <ul class="footer-links">
                    <li><a href="Shop" class="footer-link">About Us</a></li>
                    <li><a href="Register" class="footer-link">Register</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Support</h4>
                <ul class="footer-links">
                    <li><a href="Shop" class="footer-link">Founder</a></li>
                    <li><a href="Contact" class="footer-link">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Duyên&Tâm. Hoàng Sa, Trường Sa là của Việt Nam</p>
        </div>
    </div>
</footer>




