
@{
    ViewBag.Title = "SCA";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<section class="section">
    <div class="container">
        <h2 class="section-title">Sữa Chua Ăn</h2>
        <div class="products-grid grid">
            <!-- Sản phẩm 1 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SAC_luudoitduongCollagen.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Lựu Đào + Collagen</h3>
                    <p class="product-price">6.624.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_9loaihat.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua 9 Loại Hạt</h3>
                    <p class="product-price">5.911.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 3 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_dau.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Dâu</h3>
                    <p class="product-price">5.083.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_itduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Ít Đường</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 5 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_khongduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Không Đường</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_nepcam.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Nếp Cẩm</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_nhadam.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Nha Đam</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_traicay.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Trái Cây</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_vietquocitduongcollagen.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Việt Quốc ít đường + Collagen</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sua chua ăn/SCA_yenmachchanhdayxoai.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Yến Mạch Chanh Dây Xoài</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="footer-grid grid">

            <div class="footer-column">
                <h4>Shop</h4>
                <ul class="footer-links">
                    <li><a href="Collection" class="footer-link">All Products</a></li>
                    <li><a href="#" class="footer-link">New Arrivals</a></li>
                    <li><a href="#" class="footer-link">Best Sellers</a></li>
                    <li><a href="#" class="footer-link">Sale</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Company</h4>
                <ul class="footer-links">
                    <li><a href="#" class="footer-link">About Us</a></li>
                    <li><a href="#" class="footer-link">Sustainability</a></li>
                    <li><a href="#" class="footer-link">Careers</a></li>
                    <li><a href="#" class="footer-link">Press</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Support</h4>
                <ul class="footer-links">
                    <li><a href="#" class="footer-link">FAQ</a></li>
                    <li><a href="#" class="footer-link">Shipping & Returns</a></li>
                    <li><a href="#" class="footer-link">Size Guide</a></li>
                    <li><a href="#" class="footer-link">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 BO&BOT. Hoàng Sa, Trường Sa là của Việt Nam</p>
        </div>
    </div>
</footer>
