
@{
    ViewBag.Title = "SCU";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<section class="section">
    <div class="container">
        <h2 class="section-title">Sữa chua uống</h2>
        <div class="products-grid grid">
            <!-- Sản phẩm 1 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_coduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Có Đường</h3>
                    <p class="product-price">6.624.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_daoitduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Hương Đào Ít Đường</h3>
                    <p class="product-price">5.911.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 3 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_dua.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Hương Dứa</h3>
                    <p class="product-price">5.083.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_itduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Ít Đường</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 5 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_luudoitduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Hương Lưu Đỏ Ít Đường</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_nghematong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Hương Nghệ Mật Ong</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUMS_Probi_vietquoc.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua Probi Hương Việt Quốc</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUTT_GreenFarm_camhoabuoi.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua GreenFarm Hương Cam Hoa Bưởi</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa chua uống/SCUTT_GreenFarm_vaihoanhai.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Chua GreenFarm Vải Hoa Nhài</h3>
                    <p class="product-price">6.854.000 VND</p>
                </div>
            </div>
        </div>
    </div>
</section>


<footer>
    <div class="container">
        <div class="footer-grid grid">

            <div class="footer-column">
                <h4>Shop</h4>
                <ul class="footer-links">
                    <li><a href="Collection" class="footer-link">All Products</a></li>
                    <li><a href="#" class="footer-link">New Arrivals</a></li>
                    <li><a href="#" class="footer-link">Best Sellers</a></li>
                    <li><a href="#" class="footer-link">Sale</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Company</h4>
                <ul class="footer-links">
                    <li><a href="#" class="footer-link">About Us</a></li>
                    <li><a href="#" class="footer-link">Sustainability</a></li>
                    <li><a href="#" class="footer-link">Careers</a></li>
                    <li><a href="#" class="footer-link">Press</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Support</h4>
                <ul class="footer-links">
                    <li><a href="#" class="footer-link">FAQ</a></li>
                    <li><a href="#" class="footer-link">Shipping & Returns</a></li>
                    <li><a href="#" class="footer-link">Size Guide</a></li>
                    <li><a href="#" class="footer-link">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 BO&BOT. Hoàng Sa, Trường Sa là của Việt Nam</p>
        </div>
    </div>
</footer>
