
@{
    ViewBag.Title = "Shop";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}
<section class="hero-header container">
    <div class="hero-content" style="background-color:beige">
        <h1 style="color: #154598">“Để tâm hiện tại. Vững vàng tương lai”</h1>
        <p>
            “Chúng tôi nhận thức rõ ràng thách thức về biến đổi khí hậu và sự cạn kiệt tài nguyên thiên nhiên đang đe dọa tương lai của chúng ta. Vì vậy, chúng tôi đã đặt ra mục tiêu và hành động cụ thể để giảm thiểu tác động của hoạt động chuỗi giá trị lên môi trường và xã hội.

            Chúng tôi nhận thức rằng hành trình phát triển bền vững là một quá trình liên tục và đòi hỏi sự nỗ lực không ngừng. Chỉ khi chung tay, chúng ta mới có thể tạo ra một tương lai bền vững cho chính chúng ta và cho thế hệ mai sau.”
        </p>
    </div>
    <div class="hero-image">
        <img src="~/Image/GT_VNM/hinh-4-7.jpg" />
    </div>
</section>
<section class="carbon-neutral-section">
    <div class="carbon-container">
        <div class="carbon-header">
            <h2>Hành động vì sức khoẻ</h2>
            <p class="subtitle">Vinamilk quyết chọn thứ tốt nhất cho sức khỏe của bạn.​ Mọi hành động và quyết định về nguyên vật liệu, chăn nuôi và sản xuất mà chúng tôi đưa ra luôn vì bạn và vì những người mà bạn để tâm chăm sóc. ​</p>
        </div>

        <div class="carbon-grid">
            <div class="carbon-item">
                <h3>Chăm sóc động vật</h3>
                <p>Vinamilk đặt phúc lợi động vật là trọng tâm của chăn nuôi bền vững. Chúng tôi cam kết đảm bảo sức khoẻ, điều kiện sống tốt nhất cho đàn bò sữa, không chỉ vì đạo đức nghề nghiệp mà còn để nâng cao chất lượng sản phẩm và phát triển ngành chăn nuôi bền vững..</p>
            </div>

            <!-- Item 2 -->
            <div class="carbon-item">
                <h3>Chọn lọc nguyên liệu</h3>
                <p>Yêu cầu tiên quyết của Vinamilk về nguyên liệu bao gồm: chất lượng cao, sạch, an toàn và bền vững. Chúng tôi tụ hào về chất lượng nguyên liệu của mình nên sẽ luôn minh bạch với bạn. Thành phần nào không ghi trên bao bì, nghĩa là không có trong sản phẩm.</p>
            </div>

            <!-- Item 3 -->
            <div class="carbon-item">
                <h3>Mang công nghệ quốc tế về Việt Nam</h3>
                <p>Đón đầu xu hướng sữa thế giới, Vinamilk tiên phong mang về Việt Nam loạt công nghệ tiên tiến hàng đầu. Mọi nỗ lực của chúng tôi nhằm trao quyền cho người tiêu dùng mọi lứa tuổi có thể chọn lọc dinh dưỡng thông minh, phù hợp chính xác với thể trạng và nhu cầu sức khoẻ.</p>
            </div>
        </div>
    </div>
</section>
<section class="hero-produce container">
    <div clss="hero-image">
        <img src="~/Image/GT_VNM/D.jpg" style="max-width:600px; max-height:850px;" />
    </div>
    <div class="hero-content">
        <h1 style="color:white">Phùng Thị Hoàng Duyên</h1>
        <p>
            Login
        </p><br />
        <p>
            Logout
        </p><br />
        <p>
            Trang quản lý
        </p><br />
        <p>
            Trang thông tin người dùng
        </p><br />
        <p>
            Chức năng thêm xóa, sửa, giỏ hàng, thanh toán
        </p><br />
        <p>
            Register
        </p><br />
    </div>
</section>
<section class="hero-produce container">
    <div clss="hero-image">
        <img src="~/Image/GT_VNM/Tam.jpg" style="max-width:600px; max-height:850px;" />
    </div>
    <div class="hero-content">
        <h1 style="color:white">Lê Đức Tâm</h1>
        <p>
            Trang Chủ
        </p><br />
        <p>
            JavaScript cho trang sản phẩm mới
        </p><br />
        <p>
            Làm bài báo cáo, vẽ mô hình
        </p><br />
        <p>
            Frontend
        </p><br />
    </div>
</section>
<footer>
    <div class="container">
        <div class="footer-grid grid">

            <div class="footer-column">
                <h4>Shop</h4>
                <ul class="footer-links">
                    <li><a href="Collection" class="footer-link">All Products</a></li>
                    <li><a href="NewProduct" class="footer-link">New Product</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Company</h4>
                <ul class="footer-links">
                    <li><a href="Shop" class="footer-link">About Us</a></li>
                    <li><a href="Register" class="footer-link">Register</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Support</h4>
                <ul class="footer-links">
                    <li><a href="Shop" class="footer-link">Founder</a></li>
                    <li><a href="Contact" class="footer-link">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 Duyên&Tâm. Hoàng Sa, Trường Sa là của Việt Nam</p>
        </div>
    </div>
</footer>





