
@{
    ViewBag.Title = "STTT";
    Layout = "~/Views/Shared/_LayoutPageMain.cshtml";
}

<section class="section">
    <div class="container">
        <h2 class="section-title">Sữa Tươi</h2>
        <div class="products-grid grid">
            <!-- Sản phẩm 1 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_bap.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Hương Bắp</h3>
                    <p class="product-price">5.727.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_dau.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Hương Dâu</h3>
                    <p class="product-price">9.117.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 3 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_dua.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Hương Dừa</h3>
                    <p class="product-price">4.347.000VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_dualuoi.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Hương Dưa Lưới</h3>
                    <p class="product-price">3.657.000 VND</p>
                </div>
            </div>


            <!-- Sản phẩm 1 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_giambeovichuoi.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Giảm Béo Vị Chuối</h3>
                    <p class="product-price">5.727.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 2 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_itduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Ít Đường</h3>
                    <p class="product-price">9.117.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 3 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_socola.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Hương Socola</h3>
                    <p class="product-price">4.347.000VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_tachbeokhongduong.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Tách Béo Không Đường</h3>
                    <p class="product-price">3.657.000 VND</p>
                </div>
            </div>

            <!-- Sản phẩm 4 -->
            <div class="product-card">
                <img src="~/Image/Sữa Tươi/STTT_tachbeosocola.png" class="product-image" />
                <div class="product-info">
                    <h3 class="product-name">Sữa Tươi Vinamilk Tách Béo Socola</h3>
                    <p class="product-price">3.657.000 VND</p>
                </div>
            </div>

        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="footer-grid grid">

            <div class="footer-column">
                <h4>Shop</h4>
                <ul class="footer-links">
                    <li><a href="Collection" class="footer-link">All Products</a></li>
                    <li><a href="#" class="footer-link">New Arrivals</a></li>
                    <li><a href="#" class="footer-link">Best Sellers</a></li>
                    <li><a href="#" class="footer-link">Sale</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Company</h4>
                <ul class="footer-links">
                    <li><a href="#" class="footer-link">About Us</a></li>
                    <li><a href="#" class="footer-link">Sustainability</a></li>
                    <li><a href="#" class="footer-link">Careers</a></li>
                    <li><a href="#" class="footer-link">Press</a></li>
                </ul>
            </div>

            <div class="footer-column">
                <h4>Support</h4>
                <ul class="footer-links">
                    <li><a href="#" class="footer-link">FAQ</a></li>
                    <li><a href="#" class="footer-link">Shipping & Returns</a></li>
                    <li><a href="#" class="footer-link">Size Guide</a></li>
                    <li><a href="#" class="footer-link">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 BO&BOT. Hoàng Sa, Trường Sa là của Việt Nam</p>
        </div>
    </div>
</footer>
